<div class="col-md-6 offset-md-3">
  <div class="card bg-dark text-light">
    <div class="card-header">
      <h1 class="h4 text-white text-uppercase mb-2">Módulo Administrador</h1>
      <label class="d-block">Lista de administradores:</label>
    </div>
    <div class="card-body">
      {{#if contacts}}
      <ul class="list-group">
        {{#each contacts}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="text-secondary">
            <h3 class="h6 mb-0">{{firstname}} {{lastname}}</h3>
            <small>{{email}}</small>
          </div>
          <div>
            <a href="/delete-contact/{{id}}" class="btn btn-danger btn-sm mr-1">
              <i class="fa-solid fa-trash mr-1"></i>Eliminar
            </a>
            <a href="/edit-contact/{{id}}" class="btn btn-secondary btn-sm">
              <i class="fa-solid fa-pen mr-1"></i>Editar
            </a>
          </div>
        </li>
        {{/each}}
      </ul>
      {{else}}
      <p class="fs-4 text-center">No hay contactos aún.</p>
      {{/if}}
    </div>
    <div class="card-footer">
      <form action="{{#unless contact.id}}/new-contact{{else}}/update-contact/{{contact.id}}{{/unless}}" method="POST">
        <div class="row">
          <div class="col">
            <label for="firstname">Nombres:</label>
            <input type="text" name="firstname" placeholder="Nombres" class="form-control mb-3"
              value="{{contact.firstname}}" required autofocus />
          </div>
          <div class="col">
            <label for="lastname">Apellidos:</label>
            <input type="text" name="lastname" placeholder="Apellidos" class="form-control mb-3"
              value="{{contact.lastname}}" required />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="email">Correo:</label>
            <input type="email" name="email" placeholder="Correo" class="form-control mb-3" value="{{contact.email}}
